/* estilos generales aplicados en el body */

body {
    background-color: white;
    color: white;
    font-family: "Maven Pro", sans-serif;
}

hr {
    border: solid 1px #5CD6C8;
    margin-top: 30px;
    opacity: 1;
}

section {
    padding-top: 5rem;
}

.bg-info {
    background-color: #5CD6C8!important;
}

/* estilo de fuentes */

.logo {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-weight: 600;
    color: black;
}

/* quiénes somos */

#quienessomos {
    background-color: white;
    color: black;
    padding-bottom: 2rem;
}

/* destacados */

#destacadosh2 {
    color: black;
}

.card {
    border: none;
    text-align: left;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: 600;
}

.btn {
    color: #5CD6C8;
    font-weight: 600;
}

/* footer */

footer a {
    color: white;
    text-decoration: none;    
}


/* efectos */

.navbar {
    background-color: transparent;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

/* mediaq */

@media (max-width: 768px) {
    
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .textoq {
        font-size: 16px;
    }

}